@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Libre+Baskerville:wght@700&family=Oswald&family=Roboto+Mono:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
 /* Estilos css de la presentacion web*/
body  {
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;

} 
.header h1 {
     color: #006600;
     padding: 15px;
    font-size: 40px;
 }   


.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contenedor {
    display: flex;
    flex-direction: row;
}
.col1{
    width: 25%;
    background-color: #7976a5;
}

.col2{
    width: 65%;
    background-color: #c3e6e6;
}