@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Libre+Baskerville:wght@700&family=Oswald&family=Roboto+Mono:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
 /* Estilos css de la presentacion web*/
body  {
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fdfafa;
  

} 
.header h1 {
     color: #000000;
     padding: 15px;
    font-size: 40px;
 
   width: 82%;
 }   


.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.contenedor {
    display: flex;
    flex-direction: row;
   justify-content: center;
 
}
.col1{
    width: 20%;
    background-color: #c0baba;
  
}

.col1 h2{
 margin: 18px;
}
.col1 p{
    margin: 8px;
    font-size: 18px;
}
.col1 i {
    margin: 8px;
}
img {
    width: 140px;
    height: 240px;
    border-radius: 100px;
    margin-left: 40px;
  margin-top: 40px;
}


/* Estilos columna 2 */
.col2{
    width: 65%;
    background-color: #afaaaa;
}

.col2  h2{
   color: #0000ff;
    background-color: #808080;
}
.col2 h3{
    margin: 10px;
}
.col2 p {
    margin: 15px;
  text-align: justify;
  font-size: 18px;
}

.col2 ul{
margin: 15px;
list-style: none;
font-size: 18px;
}

/* Estilos delfooter*/

.footer{
    justify-content: center;
}
.pie {
    background-color: #808080;
    padding: 20px;
    text-align: center;
    margin-left: 99px;
    margin-right: 99px;
    margin-bottom: 3px;
}
.pie p{
    font-size: 20px;
}